body{
    background-color: green;
    color: blueviolet;
}
section{
    background-color: green;
    padding-top: 80px;
    padding-bottom: 80px;
    display: flrx;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
}
chamada-texto{
    margin-right: 40px;
}
h1{
    font-size: 30px;
}
p{
    font-size: 30px;
}
header{
    font-size: 30px;
    padding-left: 20px;
    color: black;
}
img{
    height: 200px;
}
categoria{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
}
chamada-video{
    display: flex;
    averflou-x: auto;
    gap: 10px;
}
h2{
    font-size: 30px;
}